* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #033166e0;
    --secondary-color: #030303;
    --background-color: #faf8f5;
    --text-color: #363332;
    --accent-color: #0a1d2b;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fa-shield-halved {
    color: var(--accent-color);
    font-size: 4rem;
    margin-right: 10px;
    font-weight: normal;
    text-shadow: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 2rem;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
}

.container {
    background-color: rgba(255, 255, 255, 0.888);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 8px;
    flex: 1;
}

.tilte {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--accent-color);
    text-align: center;
}

.user-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box label {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.input-box input,
.input-box select,
.input-box textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
}

.input-box input:focus,
.input-box textarea:focus,
.input-box select:focus {
    border-color: #006b8f;
}

.button {
    grid-column: span 2;
    text-align: center;
    margin-top: 1rem;
}

.button input[type="submit"] {
    background: linear-gradient(135deg,
            #0a1d2b,
            #007cad);
    color: var(--secondary-color);
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease;
    width: 100%;
}

.button input[type="submit"]:hover {
    background: linear-gradient(-135deg,
            #0a1d2b,
            #007cad);
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-self: stretch;
}

.cards-container>div {
    background: rgba(255, 255, 255, 0.938);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 4px;
}

.cards-container h2 {
    color: var(--accent-color);
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.cards-container p {
    color: var(--text-color);
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-align: left;
}

.cards-container a {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}

/* Modal Styling */
dialog {
    background: rgba(255, 255, 255, 0.938);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    max-width: 800px;
    box-shadow: 0 4px 8px;
}

.modal {
    background: linear-gradient(135deg,
            #0a1d2b,
            #007cad);
    color: white;
    padding: .5rem;
    margin: .5rem;
    font-size: 1.3rem;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.modal:hover {
    background: linear-gradient(-135deg,
            #0a1d2b,
            #007cad);
}

footer {
    background-color: var(--accent-color);
    color: white;
    margin-top: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 2rem;
    justify-content: space-betwee
}

footer .social-media {
    margin: 5rem;
    font-size: 3rem;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
}

section {
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 8px;
}

.card {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 0.3);
}

.card address {
    font-size: 1.2rem;
}

.card div {
    padding: .5rem;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

.card img {
    width: 100%;
    align-items: center;
    transition: 0.4s ease;
}

.card figure {
    width: 100%;
}

.card img:hover {
    transform: scale(1.05);
}

.card p {
    font-size: 1rem;
    line-height: 1.3;
    padding: 5px;
}

.card button {
    font-size: 17px;
    padding: 5.5px;
    width: 100%;
    border: none;
    background: linear-gradient(45deg, #006b8f, #006b8f);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: 300px;
}

.card button:hover {
    background: linear-gradient(-45deg, #007cad, #000a8f);
}

dialog {
    margin: 2rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    gap: 1rem;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
}

dialog h1 {
    text-align: center;
    text-transform: capitalize;
    color: var(--text-color);
}

dialog h2 {
    text-align: left;
    text-transform: capitalize;
    font-weight: 400;
    color: var(--text-color);
}

dialog .close {
    display: block;
    width: fit-content;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #005fcc;
    color: white;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.sidebar-message {
    background-color: #f0f8ff;
    color: #033166;
    padding: 1rem;
    margin: 1rem;
    border-left: 4px solid #0077b6;
    border-radius: 8px;
    font-size: 1.1rem;
}